name: CMake

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  # Types: Debug, Release, RelWithDebInfo, MinSizeRel.
  BUILD_TYPE: Release

jobs:
  build:
    name: Build the application
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Update packages
        run: sudo apt update

      - name: Install packages
        run: >
          sudo apt --assume-yes install \
            cmake libbluetooth-dev

      - name: CMake - Build
        run: >
          cd ${{github.workspace}}/src
          cmake \
            --build ${{github.workspace}}/build \
            --config ${{env.BUILD_TYPE}}
          cd ${{github.workspace}}

      - name: CMake - Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}}

      - name: Get binary's name
        run: |
          cd ${{github.workspace}}/build
          PROJECT_NAME=$(grep PROJECT_NAME CMakeCache.txt | cut -d "=" -f2)
          echo "BINARY_NAME=${PROJECT_NAME}" >> $GITHUB_ENV
          tar -zcvf "${PROJECT_NAME}.tar.gz" "${PROJECT_NAME}"
          zip "${PROJECT_NAME}.zip" "${PROJECT_NAME}"

      - name: Archive binary's built
        uses: actions/upload-artifact@v2
        with:
          name: binary-compressed-application
          path: ${{github.workspace}}/build/${{ env.BINARY_NAME }}.*
