name: CMake with Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Build the application
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Create the Docker image
        run: >
          docker \
            build . \
            --file Dockerfile \
            --tag bose-connect-app-linux:$(date +%s)
